.DS_Store
node_modules
.npm
.next
out
coverage
playwright-report
test-results
dist
*.log
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
yarn.lock
pnpm-lock.yaml
.turbo
.superpowers
